.App {
}

.jumbotron {
	border: 1px solid black;
	background-color: #eeeeee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-pane {
	padding-top: 16px;
}

#textareaConfig {
	margin-bottom: 16px;
	display: block;
	width: 100%;
}

.buttons-set {
	display: inline-block;
	padding: 4px 8px;
}

.parser_error {
	color: #ee0000;
	margin: 0 16px;
}